@use "./_variables" as theme;
@forward "../../bootstrap/variables" with (
  $black: theme.$black,
  $grayDarker: theme.$grayDarker,
  $grayDark: theme.$grayDark,
  $gray: theme.$gray,
  $grayLight: theme.$grayLight,
  $grayLighter: theme.$grayLighter,
  $white: theme.$white,

  $blue: theme.$blue,
  $blueDark: theme.$blueDark,
  $green: theme.$green,
  $red: theme.$red,
  $yellow: theme.$yellow,
  $orange: theme.$orange,
  $pink: theme.$pink,
  $purple: theme.$purple,

  $bodyBackground: theme.$bodyBackground,
  $textColor: theme.$textColor,

  $linkColor: theme.$linkColor,
  $linkColorHover: theme.$linkColorHover,

  $sansFontFamily: theme.$sansFontFamily,
  $serifFontFamily: theme.$serifFontFamily,
  $monoFontFamily: theme.$monoFontFamily,
  $baseFontSize: theme.$baseFontSize,
  $baseFontFamily: theme.$baseFontFamily,
  $baseLineHeight: theme.$baseLineHeight,
  $altFontFamily: theme.$altFontFamily,
  $headingsFontFamily: theme.$headingsFontFamily,
  $headingsFontWeight: theme.$headingsFontWeight,
  $headingsColor: theme.$headingsColor,

  $fontSizeLarge: theme.$fontSizeLarge,
  $fontSizeSmall: theme.$fontSizeSmall,
  $fontSizeMini: theme.$fontSizeMini,
  $paddingLarge: theme.$paddingLarge,
  $paddingSmall: theme.$paddingSmall,
  $paddingMini: theme.$paddingMini,
  $baseBorderRadius: theme.$baseBorderRadius,
  $borderRadiusLarge: theme.$borderRadiusLarge,
  $borderRadiusSmall: theme.$borderRadiusSmall,

  $tableBackground: theme.$tableBackground,
  $tableBackgroundAccent: theme.$tableBackgroundAccent,
  $tableBackgroundHover: theme.$tableBackgroundHover,
  $tableBorder: theme.$tableBorder,

  $btnBackground: theme.$btnBackground,
  $btnBackgroundHighlight: theme.$btnBackgroundHighlight,
  $btnBorder: theme.$btnBorder,
  $btnPrimaryBackground: theme.$btnPrimaryBackground,
  $btnPrimaryBackgroundHighlight: theme.$btnPrimaryBackgroundHighlight,
  $btnInfoBackground: theme.$btnInfoBackground,
  $btnInfoBackgroundHighlight: theme.$btnInfoBackgroundHighlight,
  $btnSuccessBackground: theme.$btnSuccessBackground,
  $btnSuccessBackgroundHighlight: theme.$btnSuccessBackgroundHighlight,
  $btnWarningBackground: theme.$btnWarningBackground,
  $btnWarningBackgroundHighlight: theme.$btnWarningBackgroundHighlight,
  $btnDangerBackground: theme.$btnDangerBackground,
  $btnDangerBackgroundHighlight: theme.$btnDangerBackgroundHighlight,
  $btnInverseBackground: theme.$btnInverseBackground,
  $btnInverseBackgroundHighlight: theme.$btnInverseBackgroundHighlight,

  $inputBackground: theme.$inputBackground,
  $inputBorder: theme.$inputBorder,
  $inputBorderRadius: theme.$inputBorderRadius,
  $inputDisabledBackground: theme.$inputDisabledBackground,
  $formActionsBackground: theme.$formActionsBackground,

  $dropdownBackground: theme.$dropdownBackground,
  $dropdownBorder: theme.$dropdownBorder,
  $dropdownDividerTop: theme.$dropdownDividerTop,
  $dropdownDividerBottom: theme.$dropdownDividerBottom,
  $dropdownLinkColor: theme.$dropdownLinkColor,
  $dropdownLinkColorHover: theme.$dropdownLinkColorHover,
  $dropdownLinkColorActive: theme.$dropdownLinkColorActive,
  $dropdownLinkBackgroundActive: theme.$dropdownLinkBackgroundActive,
  $dropdownLinkBackgroundHover: theme.$dropdownLinkBackgroundHover,

  $zindexDropdown: theme.$zindexDropdown,
  $zindexPopover: theme.$zindexPopover,
  $zindexTooltip: theme.$zindexTooltip,
  $zindexFixedNavbar: theme.$zindexFixedNavbar,
  $zindexModalBackdrop: theme.$zindexModalBackdrop,
  $zindexModal: theme.$zindexModal,

  $iconSpritePath: theme.$iconSpritePath,
  $iconWhiteSpritePath: theme.$iconWhiteSpritePath,

  $placeholderText: theme.$placeholderText,
  $hrBorder: theme.$hrBorder,
  $horizontalComponentOffset: theme.$horizontalComponentOffset,
  $wellBackground: theme.$wellBackground,

  $navbarCollapseWidth: theme.$navbarCollapseWidth,
  $navbarHeight: theme.$navbarHeight,
  $navbarBackgroundHighlight: theme.$navbarBackgroundHighlight,
  $navbarBackground: theme.$navbarBackground,
  $navbarBorder: theme.$navbarBorder,
  $navbarText: theme.$navbarText,
  $navbarLinkColor: theme.$navbarLinkColor,
  $navbarLinkColorHover: theme.$navbarLinkColorHover,
  $navbarLinkColorActive: theme.$navbarLinkColorActive,
  $navbarLinkBackgroundHover: theme.$navbarLinkBackgroundHover,
  $navbarLinkBackgroundActive: theme.$navbarLinkBackgroundActive,
  $navbarBrandColor: theme.$navbarBrandColor,

  $navbarInverseBackground: theme.$navbarInverseBackground,
  $navbarInverseBackgroundHighlight: theme.$navbarInverseBackgroundHighlight,
  $navbarInverseBorder: theme.$navbarInverseBorder,
  $navbarInverseText: theme.$navbarInverseText,
  $navbarInverseLinkColor: theme.$navbarInverseLinkColor,
  $navbarInverseLinkColorHover: theme.$navbarInverseLinkColorHover,
  $navbarInverseLinkColorActive: theme.$navbarInverseLinkColorActive,
  $navbarInverseLinkBackgroundHover: theme.$navbarInverseLinkBackgroundHover,
  $navbarInverseLinkBackgroundActive: theme.$navbarInverseLinkBackgroundActive,
  $navbarInverseSearchBackground: theme.$navbarInverseSearchBackground,
  $navbarInverseSearchBackgroundFocus: theme.$navbarInverseSearchBackgroundFocus,
  $navbarInverseSearchBorder: theme.$navbarInverseSearchBorder,
  $navbarInverseSearchPlaceholderColor: theme.$navbarInverseSearchPlaceholderColor,
  $navbarInverseBrandColor: theme.$navbarInverseBrandColor,

  $paginationBackground: theme.$paginationBackground,
  $paginationBorder: theme.$paginationBorder,
  $paginationActiveBackground: theme.$paginationActiveBackground,

  $heroUnitBackground: theme.$heroUnitBackground,
  $heroUnitHeadingColor: theme.$heroUnitHeadingColor,
  $heroUnitLeadColor: theme.$heroUnitLeadColor,

  $warningText: theme.$warningText,
  $warningBackground: theme.$warningBackground,
  $warningBorder: theme.$warningBorder,
  $errorText: theme.$errorText,
  $errorBackground: theme.$errorBackground,
  $errorBorder: theme.$errorBorder,
  $successText: theme.$successText,
  $successBackground: theme.$successBackground,
  $successBorder: theme.$successBorder,
  $infoText: theme.$infoText,
  $infoBackground: theme.$infoBackground,
  $infoBorder: theme.$infoBorder,

  $tooltipColor: theme.$tooltipColor,
  $tooltipBackground: theme.$tooltipBackground,
  $tooltipArrowWidth: theme.$tooltipArrowWidth,
  $tooltipArrowColor: theme.$tooltipArrowColor,
  $popoverBackground: theme.$popoverBackground,
  $popoverArrowWidth: theme.$popoverArrowWidth,
  $popoverArrowColor: theme.$popoverArrowColor,
  $popoverTitleBackground: theme.$popoverTitleBackground,
  $popoverArrowOuterWidth: theme.$popoverArrowOuterWidth,
  $popoverArrowOuterColor: theme.$popoverArrowOuterColor,
);


